body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  transition: 0.5s;
}

code {
  font-family: "Courier New", monospace;
}
.asd {
  background: rgba(59, 37, 37, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: none;
}
.wesig {
  color: green;
  opacity: 0.8;
  float: right;
  text-decoration: none;
  padding: 0 10px;
}
.noe {
  border: none;
}
.stye {
  text-decoration: none;
  cursor: pointer;
}
.colo {
  color: red;
}
.clo {
  color: darkblue;
}
.px {
  padding-left: 1px;
}
.gose {
  float: right;
  animation: mover 2s infinite alternate;
}
@keyframes mover {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(-40px);
  }
}
.sig {
  color: #1b4781;
  opacity: 0.8;
  float: right;
  text-decoration: none;
}
.asde {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 5px 20px;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease;
  text-indent: -100%;
  opacity: 3;
}
