*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Livvic";
  background-color: #060916;
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2;
  transition: background-color 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  backdrop-filter: blur(5px);
  -webkit-text-size-adjust: 100%;
  text-align: justify;
}
.logo {
  height: 60px;
  margin: 5px 8px;
}
/* .coles {
  background: #ffffff !important;
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
} */
.collapse h4 {
  display: inline;
  padding: 0 20px;
}
.collapse {
  text-decoration: none;
  color: #000408;
  cursor: pointer;
}
.cart {
  color: #000408;
  text-decoration: none;
}
.cart:hover {
  border-bottom: 1px solid #000408;
  width: 25%;
  transition: 0.9s;
}
.navbar-toggler {
  border: 0;
}
.banner-four-area {
  padding: 76px 0 50px;
  background-color: #060916;
  z-index: 1;
  /* position: relative; */
}
/* .banner-four-area::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./component/asset/home-four-bg.png);
  opacity: 0.8;
} */
.banner-four-content {
  position: relative;
  z-index: 1;
}
img {
  max-width: 100%;
}
.sty {
  padding-left: 100px;
}
.choose-img-two {
  position: relative;
  z-index: 1;
  padding-right: 30px;
  padding-left: 85px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.choose-img-two::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  border-radius: 0 0 50px 50px;
  background-color: #0e111f;
}
.choose-img-two img {
  border-radius: 0 0 8px 8px;
}
.default-btn {
  display: inline-block;
  padding: 12px 32px;
  color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #15273b;
  border-radius: 50px;
  border: solid #ffc221;
  text-decoration: none;
  font-size: 20px;
  z-index: 1;
  transition: background-color 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.default-btn:hover {
  background-color: #000000;
  transition: background-color 1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  background-image: linear-gradient(to top right, #000000);
}
.clients-slider-img {
  position: relative;
  z-index: 1;
  text-align: center;
}
.clients-slider-img img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.clients-slider-img .clients-slider-circle {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: -30px;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  height: 90%;
  background-image: linear-gradient(#0e111f, #15273b);
  animation: border-transform 15s infinite ease-in-out;
}
@keyframes border-transform {
  0%,
  100% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
  14% {
    border-radius: 50% 20% 50% 30% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}
.section-title span {
  text-transform: uppercase;
  margin-bottom: 8px;
  display: block;
}
.sp-color2 {
  color: #ffc221;
}
.section-title h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.space{
  margin-right:35px;
}
@media only screen and (max-width: 700px) {
  .sty {
    padding: 0 25px;
  }
  .choose-img-two {
    padding-left: 20px;
  }
  .choose-img-two::before{
    border-radius: 0 0 50px 0px;
  }
  .choose-img-two img{
    border-radius: 0 0 8px 0px;
  }
}






.asd {
  background: rgba(59, 37, 37, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: none;
}
.wesig {
  color: green;
  opacity: 0.8;
  float: right;
  text-decoration: none;
  padding: 0 10px;
}
.noe {
  border: none;
}
.stye {
  text-decoration: none;
  cursor: pointer;
}
.colo {
  color: red;
}
.clo {
  color: darkblue;
}
.px {
  padding-left: 1px;
}
.gose {
  float: right;
  animation: mover 2s infinite alternate;
}
@keyframes mover {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(-40px);
  }
}
.sig {
  color: #1b4781;
  opacity: 0.8;
  float: right;
  text-decoration: none;
}
.asde {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 5px 20px;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease;
  text-indent: -100%;
  opacity: 3;
}
